**/Library/
**/library/
**/Temp/
**/temp/
**/Obj/
**/obj/
**/Build/
**/build/
**/Logs/
**/logs/
**/*.csproj
**/*.unityproj
**/*.sln
**/*.tmp
**/*.user
**/*.userprefs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pidb.meta
sysinfo.txt
**/.vs/
**/.idea
**/.DS_Store
**/Packages/
**/ProjectSettings/
**/UserSettings/
**/EditorUserSettings.asset
**/TxProject/UserSettings/EditorUserSettings.asset